<div class="animated fadeIn">
  <h3 style="margin-top: 1em;">Tasks</h3>
  <div class="row" style="border: 1px solid #707070">

    <div class="col-sm-4 col-lg-3" style="padding: 30px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div style="font-family: inherit; font-size: 35px;">Employer Assignment</div>
          <div class="text-value" style="font-size: 50px; font-weight: bold">7</div>
          <div style="font-size: 15px;">New Pending Employer</div>
          <div style="font-size: 15px;">Assignments</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-3" style="padding: 30px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div style="font-family: inherit; font-size: 35px;">Payment Confirmation</div>
          <div class="text-value" style="font-size: 50px; font-weight: bold">6</div>
          <div style="font-size: 15px;">New Unverified</div>
          <div style="font-size: 15px;">Payments</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-3" style="padding: 30px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div style="font-family: inherit; font-size: 35px;">Job Deletion Approvals</div>
          <div class="text-value" style="font-size: 50px; font-weight: bold">3</div>
          <div style="font-size: 15px;">New Pending Job</div>
          <div style="font-size: 15px;">Deletion Approvals</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-3" style="padding: 30px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div style="font-family: inherit; font-size: 35px;">Bulk Data Upload</div>
          <div style="font-size: 15px; margin-top: 1em;">
            <button type="button" class="btn" routerLink="/admin-bulk-upload/bulkcandidates" style="font-size: 20px; display: block; margin: 0px auto; border-radius: 50px; width: 80%; height: 45px; background: #CCFFBF; border-color: #707070">
              CANDIDATE
            </button>
          </div>
          <div style="font-size: 15px; margin-top: 1em;">
            <button type="button" class="btn" routerLink="/admin-bulk-upload/bulkemployers" style="font-size: 20px; display: block; margin: 0px auto; border-radius: 50px; width: 80%; height: 45px; background: #81ABFF; border-color: #707070">
              EMPLOYER
            </button>
          </div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->

  <h3 style="margin-top: 1em;">Summaries</h3>
  <div class="row" style="padding: 10px; border: 1px solid #707070; margin-bottom: 2em;">
    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
              <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Candidates</div>
        </div>
      </div>
    </div><!--/.col-->
    
    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Employers</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Jobs</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Applications</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Users</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Candidates</div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->
</div>
