<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Users&emsp;<span class="btn" style="border-radius: 50%; border: 1px solid #707070; background: #ADFFB7; cursor: pointer;" routerLink="/admin-users-list/adduser"><i class="fa fa-plus"></i></span></h5>
          <hr>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="input-group">
        <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
            <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
      </div>
    </div>
    
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div class="card-body">
        <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
        <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-striped table-responsive-sm">
          <thead>
            <tr style="background: #BFFFCE;">
              <th mat-sort-header="_id">ID</th>
              <th mat-sort-header="fullName">Full Name</th>
              <th mat-sort-header="username">Username</th>
              <th mat-sort-header="email">Email</th>
              <th mat-sort-header="role">Role</th>
              <th mat-sort-header="phone">Contact No</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of sortedData | filter:search">
              <td>{{ user._id }}</td>
              <td>{{ user.fullName }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.phone }}</td>
              <td>
                  <span class="badge badge-danger" (click)="onDeleteUser(user)" style="cursor: pointer;">Delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--/.col-->
  </div>
</div>