<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Occupation&emsp;<span class="btn" data-toggle="modal" (click)="successModal.show()" style="border-radius: 50%; border: 1px solid #707070; background: #ADFFB7; cursor: pointer;"><i class="fa fa-plus"></i></span></h5>
          <hr>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="input-group">
        <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
            <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
      </div>
    </div>
    
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div class="card-body">
        <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
        <table class="table table-bordered table-striped table-responsive-sm">
          <thead>
            <tr style="background: #BFFFCE;">
              <th>Occupation Name</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let occupation of occupationsInfo | filter:search">
              <td>{{ occupation.name }}</td>
              <td>
                  <span class="badge badge-danger" (click)="onDeleteOccupation(occupation)" style="cursor: pointer;">Delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--/.col-->
  </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document" style="margin-top: 8em;">
    <div class="modal-content">
      <div class="header">
        <h5 style="text-align:center; margin-top: 1em; text-transform: uppercase;">Add Occupation</h5>
      </div>
      <hr style="color: #707070;  border: 1px solid #707070; width: 70%;">
      <form (submit)="onCreateOccupation()" ngNativeValidate>
        <div class="modal-body">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-6">
                <b>Occupation Name</b>
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="occupation" name="occupation" type="text" style="border-color: #707070" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" style="font-weight: bold; display: block; margin: 0px auto; border-radius: 50px; width: 40%; height: 50px; background: #479B5B">Add Occupation</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->