<div class="animated fadeIn">
    <div class="row" style="margin-top: 2em;">
      <div class="col-lg-12">
        <label>
            <h5>Bulk Candidates</h5>
            <hr>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top: 1em;">
      <div class="col-md-12 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
          <tab heading="All">
        <div class="col-md-12 mb-4">
          <div class="input-group">
            <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
            </div>
            <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm table-responsive-sm">
            <thead>
              <tr style="background: #BFFFCE;">
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Education</th>
                  <th>City</th>
                  <th>Phone No</th>
                  <th>CNIC No</th>
                  <th>Call Status</th>
                  <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of pagedItems | filter:search">
                <td>{{ candidate._id }}</td>
                <td>{{ candidate.fullName }}</td>
                <td> {{ candidate.education }} </td>
                <td>{{ candidate.city }}</td>
                <td>{{ candidate.phone }} </td>
                <td> {{ candidate.cnic }}</td>
                <td *ngIf="candidate.callStatus == 'Not Answered'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-warning">{{ candidate.callStatus }}</span>
                </td>
                <td *ngIf="candidate.callStatus == 'Switched Off'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-warning">{{ candidate.callStatus }}</span>
                </td>
                <td *ngIf="candidate.callStatus == 'Not Interested'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-danger">{{ candidate.callStatus }}</span>
                </td>
                <td *ngIf="candidate.callStatus == 'Not Called'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-success">{{ candidate.callStatus }}</span>
                </td>
                <td *ngIf="candidate.callStatus == 'Wrong Number'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-warning">{{ candidate.callStatus }}</span>
                </td>
                <td *ngIf="candidate.callStatus == 'Call Back'">
                  <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                    class="badge badge-danger">{{ candidate.callStatus }}</span>
                </td>
                <td>
                  <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-warning">Update</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="cursor: pointer;">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
              <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
            </li>
          </ul>
        </div>
        </tab>
        <tab heading="Search">
          <div class="col-md-12 mb-4">
            <div class="input-group">
              <div class="input-group mb-4">
                <div class="input-group col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="company">Full Name</label>
                      <input class="form-control" [(ngModel)]="fullName" name="fullName" type="text"
                        style="border-color: #707070">
                    </div>
                  </div>
                </div>
                <div class="input-group col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="company">Phone No </label>
                      <input class="form-control" [(ngModel)]="phoneNo" name="phoneNo" type="text"
                        style="border-color: #707070">
                    </div>
                  </div>
                </div>
                <div class="input-group col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="company">CNIC</label>
                      <input class="form-control" [(ngModel)]="cnic" name="cnic" type="text" style="border-color: #707070">
                    </div>
                  </div>
                </div>
                <div class="input-group col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="company">Call Status</label>
                      <select class="form-control" name="callStatus" [(ngModel)]="callStatus"
                        style="border-color: #707070; text-transform: capitalize;">
                        <option *ngFor="let x of callStatusArr" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-group col-md-4">
                  <div class="col-md-12">
                    <div class="form-group" style="margin-top: 2em; text-align: center;">
                      <button class="btn btn-success" (click)="filterCandidates()">Filter Candidates</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm table-responsive-sm">
              <thead>
                <tr style="background: #BFFFCE;">
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Education</th>
                  <th>City</th>
                  <th>Phone No</th>
                  <th>CNIC No</th>
                  <th>Call Status</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let candidate of pagedItems2 | filter:search">
                  <td>{{ candidate._id }}</td>
                  <td>{{ candidate.fullName }}</td>
                  <td> {{ candidate.education }} </td>
                  <td>{{ candidate.city }}</td>
                  <td>{{ candidate.phone }} </td>
                  <td> {{ candidate.cnic }}</td>
                  <td *ngIf="candidate.callStatus == 'Not Answered'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-warning">{{ candidate.callStatus }}</span>
                  </td>
                  <td *ngIf="candidate.callStatus == 'Switched Off'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-warning">{{ candidate.callStatus }}</span>
                  </td>
                  <td *ngIf="candidate.callStatus == 'Not Interested'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-danger">{{ candidate.callStatus }}</span>
                  </td>
                  <td *ngIf="candidate.callStatus == 'Not Called'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-success">{{ candidate.callStatus }}</span>
                  </td>
                  <td *ngIf="candidate.callStatus == 'Wrong Number'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-warning">{{ candidate.callStatus }}</span>
                  </td>
                  <td *ngIf="candidate.callStatus == 'Call Back'">
                    <span (click)="successModal.show(); getCurrentModalCandyId(candidate);" style="cursor: pointer;"
                      class="badge badge-danger">{{ candidate.callStatus }}</span>
                  </td>
                  <td>
                    <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-warning">Update</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul *ngIf="pager2.pages && pager2.pages.length" class="pagination" style="cursor: pointer;">
              <li [ngClass]="{disabled:pager2.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPageSearch(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === 1}" class="page-item">
                <a (click)="setPageSearch(pager2.currentPage - 1)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let page of pager2.pages" [ngClass]="{active:pager2.currentPage === page}" class="page-item">
                <a (click)="setPageSearch(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}" class="page-item">
                <a (click)="setPageSearch(pager2.currentPage + 1)" class="page-link">Next</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}" class="page-item">
                <a (click)="setPageSearch(pager2.totalPages)" class="page-link">Last</a>
              </li>
            </ul>
          </div>
        </tab>
        </tabset>
      </div><!--/.col-->
    </div>
  </div>

  <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document" style="margin-top: 8em;">
      <div class="modal-content">
        <div class="header">
          <h5 style="text-align:center; margin-top: 1em; text-transform: uppercase;">Update Call Status</h5>
        </div>
        <hr style="color: #707070;  border: 1px solid #707070; width: 70%;">
        <form (submit)="updateCallStatus()" ngNativeValidate>
          <div class="modal-body">
            <div class="col-md-12 mb-4">
              <div class="row">
                <div class="col-md-6">
                  <b>Call Status</b>
                </div>
                <select class="form-control" name="updatedCallStatus" [(ngModel)]="updatedCallStatus"
                      style="border-color: #707070; text-transform: capitalize;">
                      <option *ngFor="let x of callStatusArr" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                    </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" (click)="successModal.hide()" class="btn btn-success"
              style="font-weight: bold; display: block; margin: 0px auto; border-radius: 50px; width: 40%; height: 50px; background: #479B5B">Update
              Status</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->