<div class="animated fadeIn">
    <div class="row" style="margin-top: 2em;">
      <div class="col-lg-12">
        <label>
            <h5>Bulk Candidates</h5>
            <hr>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top: 1em;">
      <div class="col-md-12 mb-4">
        <!-- Nav tabs -->
        <div class="col-md-12 mb-4">
          <div class="input-group">
            <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
            </div>
            <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
          </div>
        </div>
        <div class="card-body">
          <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
          <table class="table table-bordered table-striped table-responsive-sm">
            <thead>
              <tr style="background: #BFFFCE;">
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Education</th>
                  <th>Primary Skill</th>
                  <th>City</th>
                  <th>Phone No</th>
                  <th>CNIC No</th>
                  <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidatesInfo | filter:search">
                <td>{{ candidate._id }}</td>
                <td>{{ candidate.fullName }}</td>
                <td> {{ candidate.education }} </td>
                <td>{{ candidate.primarySkill }}</td>
                <td>{{ candidate.city }}</td>
                <td>{{ candidate.phone }} </td>
                <td> {{ candidate.cnic }}</td>
                <td>
                  <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-warning">Update</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!--/.col-->
    </div>
  </div>