<div class="animated fadeIn">
    <form (submit)="onSubmitCreateCandidate()" ngNativeValidate>
        <div class="row" style="margin-top: 2em;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Personal Details
                    </div>
                    <div class="card-body">
                        <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 200}"></div>
                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Name <span style="color: red; font-weight: bold;">*</span></label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text" style="border-color: #707070" required>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Gender <span style="color: red; font-weight: bold;">*</span></label>
                                        <select class="form-control" name="gender" [(ngModel)]="gender" style="border-color: #707070; text-transform: capitalize;" required>
                                            <option *ngFor="let x of genderOf" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Age <span style="color: red; font-weight: bold;">*</span></label>
                                        <input class="form-control" [(ngModel)]="age" name="age" type="text" (keypress)="keyPress($event)" style="border-color: #707070" max="100" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Contact No <span style="color: red; font-weight: bold;">*</span></label>
                                        <input class="form-control" [(ngModel)]="phone" name="phone" (keypress)="keyPress($event)" type="text" style="border-color: #707070" required>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Email</label>
                                        <input class="form-control" [(ngModel)]="email" name="email" type="email" style="border-color: #707070">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">CNIC</label>
                                        <input class="form-control" (keypress)="keyPress($event)" maxlength="13" [(ngModel)]="cnic" name="cnic" type="text" style="border-color: #707070">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Education <span style="color: red; font-weight: bold;">*</span></label>
                                        <select class="form-control" name="education" [(ngModel)]="education" style="border-color: #707070; text-transform: capitalize;" required>
                                            <option *ngFor="let x of educationOf" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Current Employment Status <span style="color: red; font-weight: bold;">*</span></label>
                                        <select class="form-control" name="employmentStatus" [(ngModel)]="employmentStatus" style="border-color: #707070; text-transform: capitalize;" required>
                                            <option *ngFor="let x of employementOf" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Set Location
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-4">
                            <div class="input-group col-md-10">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Primary Location <span style="color: red; font-weight: bold;">*</span></label>
                                        <p>
                                            <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode" style="border-color: #707070"></AutocompleteComponent>
                                        </p>
                                        <b>Address: </b> {{formattedAddress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div style="height: 400px; display: block; margin: 0 auto;">
                                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false" style="height: 390px;">
                                                <agm-marker [latitude]="lat" [longitude]="lng">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="col-lg-12">
                <label>
                    <h5>Matching Criteria</h5>
                    <hr>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-top: 0.5em;">
                <div *ngFor="let tier of tiers" style="border: 1px solid #707070;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-1" style="border-right: 1px solid #707070; text-align: center;">
                            <p style="font-size: 40px; margin-top: 0.5em;">{{tier.count}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-5" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Occupation</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" value="{{tier.occupation}}"  type="skill" style="margin-top: -0.6em;" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Experience</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" value="{{tier.experience}}" type="text" style="margin-top: -0.7em;" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Employer</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" value="{{tier.employer}}" type="text" style="margin-top: -0.6em;" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Is Trained</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" value="{{tier.isTrained}}" type="text" style="margin-top: -0.7em;" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-1" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <span class="btn" (click)="deleteCriteria(tier)" style="border-radius: 10px; border: 1px solid #707070; background: #ef5353; cursor: pointer; font-weight: bold">Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="col-sm-12" style="margin-top: 0.5em;">
                <div style="border: 1px solid #707070;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Occupation <span style="color: red; font-weight: bold;">*</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false"  [config]="config" [options]="occupationList" [config]="config"></ngx-select-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Experience <span style="color: red; font-weight: bold;">*</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" [(ngModel)]="experience" name="experience" type="text" (keypress)="keyPress($event)" style="border-color: #707070" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Employer <span style="color: red; font-weight: bold;">*</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" [(ngModel)]="employer" name="employer" type="text" style="border-color: #707070" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <p>Is Trained <span style="color: red; font-weight: bold;">*</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="isTrained" name="isTrained" type="checkbox" style="width: 30px; height: 30px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-6 col-sm-2" style="margin-top: 1em;">
                            <div class="col-xs-6 col-sm-12">
                            </div>
                            <div class="col-xs-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span (click)="appendCriteria()" class="btn pull-right" style="border-radius: 10px; border: 1px solid #707070; background: lightgreen; cursor: pointer; font-weight: bold">Add Criteria</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2em;">
            <div class="input-group mb-12">
                <div class="input-group col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="company">Comments <span style="color: red; font-weight: bold;">*</span></label>
                            <textarea class="form-control" [(ngModel)]="comment" name="comment" type="text" style="border-color: #707070"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-group mb-12">
                <div class="input-group col-md-9">
                </div>
                <div class="input-group col-md-3">
                    <button type="submit" class="btn pull-right" style="margin-bottom: 2em; margin-top: 2em; font-weight: bold; border-radius: 50px; width: 100%; height: 50px; border-color: #707070">Create Candidate</button>
                </div>
            </div>
        </div>
    </form>
</div>

