<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Assigned Employers</h5>
          <hr>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="input-group">
        <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
            <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div class="card-body">
        <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
        <table class="table table-bordered table-striped table-sm table-responsive-sm">
          <thead>
            <tr style="background: #BFFFCE;">
              <th>ID</th>
              <th>Company Name</th>
              <th>Industry</th>
              <th>Location</th>
              <th>POC Name</th>
              <th>POC Contact No</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody *ngFor="let employer of employersInfo | filter:search">
            <tr>
              <td>{{ employer._id }}</td>
              <td>{{ employer.companyName }}</td>
              <td>{{ employer.industry }}</td>
              <td>{{ employer.location.city }}</td>
              <td>{{ employer.fullName }}</td>
              <td>{{ employer.pocPhone }}</td>
              <td>
                <span style="cursor: pointer;" class="badge badge-success" data-toggle="modal" (click)="viewEmployerDetails(employer);">
                  View
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--/.col-->
  </div>
</div>