<div class="animated fadeIn">
    <div class="row" style="margin-top: 2em;">
        <div class="col-lg-6">
            <label>
                <h3>Manage Applications for Vacancy</h3>
                <hr style="margin-bottom: 0rem; margin-top: -0.5rem;">
                <p>{{ occupation }} | {{ employer }}</p>
            </label>
        </div>
        <div class="col-lg-4" style="text-align: right;">
            <label>
                <h5><span style="color: #20C90E; font-size: 40px; font-weight: bold;">{{ hired }}</span>/{{ totalSlots }}</h5>
            </label>
        </div>
    </div>

    <div class="row" style="margin-top: 0.5em;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Criteria
                </div>
                <div class="card-body">
                    <div class="input-group mb-12">
                        <div class="input-group col-md-1">
                        </div>
                        <div class="input-group col-md-3">
                            <div class="col-md-12 col-form-label">
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                    
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                    <input class="form-check-input" type="checkbox" name="gender" [(ngModel)]="gender" value="Gender">
                                    <label class="form-check-label" for="inlineRadio1"> Gender</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" style="margin-top: 0.5em;">
                                    <input class="form-check-input" type="checkbox" name="education" [(ngModel)]="education" value="Education">
                                    <label class="form-check-label" for="inlineRadio2"> Education</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" style="margin-top: 0.25em;">
                                    <input class="form-check-input" type="checkbox" name="experience" [(ngModel)]="experience" value="Experience">
                                    <label class="form-check-label" for="inlineRadio3"> Experience</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" style="margin-top: 0.25em;">
                                    <input class="form-check-input" type="checkbox" name="city" [(ngModel)]="city" value="City">
                                    <label class="form-check-label" for="inlineRadio2"> City</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" style="margin-top: 0.25em;">
                                    <input class="form-check-input" type="checkbox" name="location" [(ngModel)]="location" value="Location">
                                    <label class="form-check-label" for="inlineRadio3"> Location</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" style="margin-top: 0.25em;">
                                    <input class="form-check-input" type="checkbox" name="unemployed" [(ngModel)]="unemployed" value="Unemployed">
                                    <label class="form-check-label" for="inlineRadio3"> Show Only Unemployed</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-1">
                        </div>
                        <div class="input-group col-md-3">
                            <div class="col-md-12 col-form-label">
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                    <label class="form-check-label" for="inlineRadio3"> Weights</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                    <label class="form-check-label" for="inlineRadio1"> - </label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="number" min="0" name="educationWeight" [(ngModel)]="educationWeight" style="width: 25%; margin-bottom: 0.25em;">
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="number" min="0" name="experienceWeight" [(ngModel)]="experienceWeight" style="width: 25%; margin-bottom: 0.25em;">
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <label class="form-check-label" for="inlineRadio2"> - </label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="number" min="0" name="locationWeight" [(ngModel)]="locationWeight" style="width: 25%; margin-bottom: 0.25em;">
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <label class="form-check-label" for="inlineRadio3"> - </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12 col-form-label">
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                    
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4" id="inline-radios">
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <label class="form-check-label" for="inlineRadio2"> Sort By:</label>&emsp;
                                    <select class="form-control" name="sort" [(ngModel)]="sort" style="border-color: #707070; width: 50%; margin-bottom: 0.5em;" required>
                                        <option *ngFor="let x of sortBy" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" name="generateWeighted" [(ngModel)]="generateWeighted" value="Generate Weighted">
                                    <label class="form-check-label" for="inlineRadio3"> Generate Weighted List (Sum of weights = 10)</label>
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    
                                </div>
                                <div class="col-md-12 form-check form-check-inline mr-4">
                                    <button (click)="generateList()" class="btn pull-right" style="font-weight: bold; border-radius: 50px; width: 100%; height: 40px; border-color: #707070">Generate List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 300}"></div>
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> System List
                </div>
                <div class="card-body">
                <table  matSort (matSortChange)="sortData($event)" class="table table-bordered table-striped table-sm table-responsive-sm">
                    <thead>
                    <tr style="background: #BFFFCE;">
                        <th>
                            <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/>
                        </th>
                        <th mat-sort-header="_id">ID</th>
                        <th mat-sort-header="candidate.fullName">Candidate Name</th>
                        <th mat-sort-header="occupation">Occupation</th>
                        <th mat-sort-header="city">City</th>
                        <th mat-sort-header="education">Education</th>
                        <th mat-sort-header="experience">Relevant Exp</th>
                        <th mat-sort-header="score">Score</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let candidate of sortedData ; let i = index">
                        <td>
                            <input type="checkbox" name="candidatecb[]" value="{{candidate.candidate._id}}" [(ngModel)]="candidate.state"/>
                        </td>
                        <td>{{ candidate.candidate._id }}</td>
                        <td>{{ candidate.candidate.fullName }}</td>
                        <td>{{ candidate.occupation }}</td>
                        <td>{{ candidate.city }}</td>
                        <td>{{ candidate.education }}</td>
                        <td>{{ candidate.experience }}</td>
                        <td *ngIf="candidate.score != undefined">
                                {{ candidate.score }}
                        </td>
                        <td *ngIf="candidate.score == undefined">
                            N/A
                        </td>
                        <!-- <td>{{ candidate.score }}</td> -->
                        <td>
                            <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-success">View</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="input-group mb-12">
            <div class="input-group col-md-3">
                <button (click)="viewShortList()" class="btn pull-right" style="margin-bottom: 2em; margin-top: 1em; font-weight: bold; border-radius: 50px; width: 100%; height: 50px; border-color: #707070">View Short List</button>
            </div>
            <div class="input-group col-md-6">
            </div>
            <div class="input-group col-md-3">
                <button (click)="createShortList()" class="btn pull-right" style="margin-bottom: 2em; margin-top: 1em; font-weight: bold; border-radius: 50px; width: 100%; height: 50px; border-color: #707070">Short List Selected</button>
            </div>
        </div>
    </div>
</div>