<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <i class="fa fa-align-justify"></i> Company Details
              </div>
              <div class="card-body">
                <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 200}"></div>
                  <div class="input-group mb-4">
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Company Name</label>
                                  <input class="form-control" [(ngModel)]="companyName" name="companyName" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Industry</label>
                                  <input class="form-control" [(ngModel)]="industry" name="industry" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="input-group mb-4">
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Phone No</label>
                                  <input class="form-control" [(ngModel)]="companyPhone" name="companyPhone" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Website</label>
                                  <input class="form-control" [(ngModel)]="website" name="website" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--/.col-->
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <i class="fa fa-align-justify"></i> POC Details
              </div>
              <div class="card-body">
                  <div class="input-group mb-4">
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Name</label>
                                  <input class="form-control" [(ngModel)]="fullName" name="fullName" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Designation</label>
                                  <input class="form-control" [(ngModel)]="pocDesignation" name="pocDesignation" type="text" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="input-group mb-4">
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Email</label>
                                  <input class="form-control" [(ngModel)]="email" name="email" type="email" style="border-color: #707070" >
                              </div>
                          </div>
                      </div>
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Mobile</label>
                                  <input class="form-control" [(ngModel)]="pocPhone" name="pocPhone" type="text" style="border-color: #707070">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="input-group mb-4">
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">Address</label>
                                  <input class="form-control" [(ngModel)]="pocAddress" name="pocAddress" type="text" style="border-color: #707070">
                              </div>
                          </div>
                      </div>
                      <div class="input-group col-md-4">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="company">City</label>
                                  <input class="form-control" [(ngModel)]="pocCity" name="pocCity" type="text" style="border-color: #707070">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--/.col-->
          </div>
      </div>
  </div>
<div class="row">
    <div class="input-group mb-12">
        <div class="input-group col-md-9">
        </div>
        <div class="input-group col-md-3">
            <button (click) = "updateEmployer()" class="btn btn-success pull-right"
                style="margin-bottom: 2em; margin-top: 1em; font-weight: bold; border-radius: 50px; width: 100%; height: 50px">Update
                Employer</button>
        </div>
    </div>
</div>
</div>
  