<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Bulk Employers</h5>
          <hr>
      </label>
    </div>
  </div>
  <!-- <div class="row" style="margin-top: 1em;">
    <div class="col-md-12 mb-4">
      <div class="col-md-12 mb-4">
        <div class="input-group">
          <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
              <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm table-responsive-sm">
          <thead>
            <tr style="background: #BFFFCE;">
              <th>ID</th>
              <th>Company Name</th>
              <th>Industry</th>
              <th>Company Contact</th>
              <th>City</th>
              <th>POC</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employers of employersInfo | filter:search">
              <td>{{ employers.id }}</td>
              <td>{{ employers.companyName }}</td>
              <td>{{ employers.industry }}</td>
              <td>{{ employers.location }}</td>
              <td>{{ employers.contactNo }}</td>
              <td>{{ employers.poc }}</td>
              <td>
                <span (click)="onViewEmployer(employer)" style="cursor: pointer;" class="badge badge-warning">Update</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div style="margin-top: 3em; text-align: center; font-size: 50px;">
    <div>
      Coming Soon!
    </div>
  </div>
</div>