<div class="animated fadeIn">
  <h3 style="margin-top: 1em;">Tasks</h3>
  <div class="row" style="border: 1px solid #707070">
    <div class="col-sm-4 col-lg-4" style="padding: 40px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" routerLink="/pu-assigned-employers/employers" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3; cursor: pointer;">
          <div style="font-size: 15px;"><i class="cui-user-follow" style="font-size: 8em;"></i></div>
          <div style="font-family: inherit; font-size: 40px; margin-top: 0.5em;">Assigned Employers</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-4" style="padding: 40px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" routerLink="/pu-open-vacancy/openvacancy" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3; cursor:pointer;">
          <div style="font-size: 15px;"><i class="fa fa-users" style="font-size: 8em;"></i></div>
          <div style="font-family: inherit; font-size: 40px; margin-top: 0.5em;">Open</div>
          <div style="font-family: inherit; font-size: 40px;">Vacancies</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-4" style="padding: 40px;">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div style="font-family: inherit; font-size: 40px; margin-top: 1.75em;">New Vacancy</div>
         
          <div style="font-size: 15px; margin-top: 5em;">
            <button type="button" class="btn" routerLink="/pu-new-vacancy/newvacancy" style="font-size: 20px; display: block; margin: 0px auto; border-radius: 50px; width: 80%; height: 50px; background: #707070; border-color: #434343">
              Vacancy
            </button>
          </div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->

  <h3 style="margin-top: 1em;">Summaries</h3>
  <div class="row" style="padding: 10px; border: 1px solid #707070; margin-bottom: 2em;">
    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
              <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Candidates</div>
        </div>
      </div>
    </div><!--/.col-->
    
    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Employers</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Jobs</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Applications</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Users</div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-4 col-lg-2">
      <div class="card text-white" style="border-radius: 2em; border-color: #707070; margin-bottom: 0rem!important;">
        <div class="card-body" style="border-radius: 2em; text-align: center; color: #434343; background-color: #D3D3D3;">
          <div>
            <img src="../../../assets/img/candidate_1.png" style="width: 50%; display: block; margin: 0px auto; margin-bottom: 1em;"/>
          </div>
          <div>Candidates</div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->
</div>
  