<div class="animated fadeIn">
    <div class="row" style="margin-top: 2em;">
      <div class="col-lg-12">
        <label>
            <input class="form-control" [(ngModel)]="name" name="name" type="text" style="border: none; font-size: 25px; font-weight: bold; background: transparent;">
            <hr>
        </label>
      </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Candidate Details
                </div>
                <div class="card-body">
                    <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
                    <div class="input-group mb-4">
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Contact No</label>
                                    <input class="form-control" [(ngModel)]="phone" name="phone" type="text" style="border-color: #707070">
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Email</label>
                                    <input class="form-control" [(ngModel)]="email" name="email" type="email" style="border-color: #707070">
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">CNIC</label>
                                    <input class="form-control" [(ngModel)]="cnic" name="cnic" (keypress)="keyPress($event)" type="text" style="border-color: #707070">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Area</label>
                                    <input class="form-control" [(ngModel)]="area" name="area" type="text" style="border-color: #707070">
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Current Employment Status</label>
                                    <ngx-select-dropdown [multiple]="false" [(ngModel)]="employmentStatus" [options]="employementOf" (change)="selectionChangedEmployment($event)" [config]="config1"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Primary Skill</label>
                                    <input class="form-control" [(ngModel)]="primarySkill" name="primarySkill" type="text" style="border-color: #707070;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-12">
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Gender</label>
                                    <ngx-select-dropdown [multiple]="false" [(ngModel)]="gender" [options]="genderOf" (change)="selectionChangedGender($event)" [config]="config1"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Education</label>
                                    <ngx-select-dropdown [multiple]="false" [(ngModel)]="education" [options]="educationOf" (change)="selectionChangedEducation($event)" [config]="config1"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="company">Comment</label>
                                    <textarea class="form-control" [(ngModel)]="comment" name="comment" type="text" style="border-color: #707070"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group col-md-4">
                        </div>
                        <div class="input-group col-md-4">
                        </div>
                        <div class="input-group col-md-4">
                            <div class="col-md-12">
                                <div class="form-group" style="text-align: right; margin-top: 1em;">
                                    <button class="btn btn-success" (click)="updateCandidate()">Update Candidate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2em;">
        <div class="col-lg-12">
            <label>
                <h5>Criteria &emsp;</h5>
                <hr>
            </label>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div *ngFor="let criteria of totalCriteria" class="col-sm-12" style="margin-top: 0.5em;">
            <div style="border: 1px solid #707070;">
                <div class="row">
                    <div class="col-xs-6 col-sm-1" style="border-right: 1px solid #707070; text-align: center;">
                        <p style="font-size: 40px; margin-top: 0.5em;">{{criteria.count}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-5" style="margin-top: 1em;">
                        <div class="col-xs-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <p>Occupation</p>
                                </div>
                                <div class="col-md-6">
                                    <ngx-select-dropdown [multiple]="false" [(ngModel)]="criteria.occupation" [options]="occupationList" (change)="selectionChanged($event, criteria._id)" [config]="config"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <p>Experience</p>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" value="{{criteria.experience}}" [(ngModel)]="criteria.experience" type="text" (keypress)="keyPress($event)" style="margin-top: -0.7em;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4" style="margin-top: 1em;">
                        <div class="col-xs-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <p>Employer</p>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" value="{{criteria.employer}}" [(ngModel)]="criteria.employer" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-12" style="margin-top: 1em;">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <p>Is Trained</p>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" value="{{criteria.isTrained}}"  type="text" style="margin-top: -0.7em;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2" style="margin-top: 1em;">
                        <div class="col-xs-10 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <span (click)="onSubmitUpdateCandidate(criteria._id)" class="btn pull-right" style="font-weight: bold; border: 1px solid #707070; background: lightgreen; cursor: pointer;">Update Criteria</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

