<div class="animated fadeIn">
    <div class="row" style="margin-top: 2em;">
        <div class="col-lg-12">
            <label>
                <h5>Company Profile</h5>
                <hr>
            </label>
        </div>
    </div>
    <form (submit)="onSubmitCompanyProfile()" ngNativeValidate>
        <div class="row" style="margin-top: 0.5em;">
            <div class="col-lg-12">
                <div class="card">
                    <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 200}"></div>
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Company Details
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Name</label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Industry</label>
                                        <input class="form-control" [(ngModel)]="industry" name="industry" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Phone No</label>
                                        <input class="form-control" [(ngModel)]="phoneNo" name="phoneNo" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Website</label>
                                        <input class="form-control" [(ngModel)]="website" name="website" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Location
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-4">
                            <div class="input-group col-md-6">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="company">Primary Location</label>
                                        <input class="form-control" [(ngModel)]="city" name="city" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="btn" style="margin-top: 1.75em;border-radius: 50%; border: 1px solid #707070; background: #ADFFB7; cursor: pointer;"><i class="fa fa-pencil"></i></span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div style="height: 500px; display: block; margin: 0 auto;">
                                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false" style="height: 390px;">
                                                <agm-marker [latitude]="lat" [longitude]="lng">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> POC Details
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Name</label>
                                        <input class="form-control" [(ngModel)]="pocName" name="pocName" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Designation</label>
                                        <input class="form-control" [(ngModel)]="designation" name="designation" type="text" style="border-color: #707070"  readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Email</label>
                                        <input class="form-control" [(ngModel)]="email" name="email" type="email" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Mobile</label>
                                        <input class="form-control" [(ngModel)]="mobileNo" name="mobileNo" type="text" style="border-color: #707070" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Address</label>
                                        <input class="form-control" [(ngModel)]="address" name="address" type="text" style="border-color: #707070"  readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group col-md-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">City</label>
                                        <input class="form-control" [(ngModel)]="pocCity" name="pocCity" type="text" style="border-color: #707070"  readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 0.5em;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Company Vacancies
                    </div>
    
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm table-responsive-sm">
                            <thead>
                                <tr style="background: #BFFFCE;">
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>Title</th>
                                <th>Occupation</th>
                                <th>Designation</th>
                                <th>Gender</th>
                                <th>City</th>
                                <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let vacancy of employerVacancies | filter:search">
                                <tr>
                                <td>{{ vacancy._id }}</td>
                                <td>{{ vacancy.employer.companyName }}</td>
                                <td>{{ vacancy.title }}</td>
                                <td>{{ vacancy.occupation }}</td>
                                <td>{{ vacancy.designation }}</td>
                                <td>{{ vacancy.gender }}</td>
                                <td>{{ vacancy.city }}</td>
                                <td>
                                    <span style="cursor: pointer;" class="badge badge-success" data-toggle="modal" (click)="viewVacancyDetails(vacancy);">
                                    View
                                    </span>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="input-group mb-12">
                <div class="input-group col-md-9">
                </div>
                <div class="input-group col-md-3">
                    <button type="submit" class="btn pull-right" style="margin-bottom: 2em; margin-top: 1em; font-weight: bold; border-radius: 50px; width: 100%; height: 50px; border-color: #707070">Create Profile</button>
                </div>
            </div>
        </div> -->
    </form>
    <!--/.row-->
</div>