<div class="animated fadeIn">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Candidates</h5>
          <hr>
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="All">
          <div class="col-md-12 mb-4">
            <div class="input-group">
              <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                  <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
              </div>
              <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
            </div>
          </div>
          <div class="card-body">
            <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
            <table class="table table-bordered table-striped table-responsive-sm">
              <thead>
                <tr style="background: #BFFFCE;">
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Primary Skill</th>
                  <th>Phone No</th>
                  <th>CNIC No</th>
                  <th>Address</th>
                  <th>Other Skill</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let candidate of pagedItems | filter:search">
                  <td>{{ candidate._id }}</td>
                  <td>{{ candidate.fullName }}</td>
                  <td>{{ candidate.primarySkill }}</td>
                  <td>{{ candidate.phone }}</td>
                  <td>{{ candidate.cnic }}</td>
                  <td>{{ candidate.area }}</td>
                  <td>{{ candidate.hasOtherSkill }}</td>
                  <td>
                    <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-success">View</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="cursor: pointer;">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a class="page-link" (click)="setPageAll(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a (click)="setPageAll(pager.currentPage - 1)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                  <a (click)="setPageAll(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPageAll(pager.currentPage + 1)" class="page-link">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPageAll(pager.totalPages)" class="page-link">Last</a>
              </li>
            </ul>
          </div>
        </tab>
        <tab heading="Has Other Skill" (selectedTabChange)="hasOtherSkill()">
          <div class="col-md-12 mb-4">
            <div class="input-group">
              <div class="input-group-prepend" style="border: 1px solid #707070; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                  <span class="input-group-text" style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fa fa-search"></i></span>
              </div>
              <input type="search" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search" style="border-color: #707070; border-top-right-radius: 15px;border-bottom-right-radius: 15px;">
            </div>
          </div>
          <div class="card-body">
            <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
            <table class="table table-bordered table-striped table-responsive-sm">
              <thead>
                <tr style="background: #BFFFCE;">
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Primary Skill</th>
                  <th>Phone No</th>
                  <th>CNIC No</th>
                  <th>Address</th>
                  <th>Other Skill</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let candidate of pagedItems2 | filter:search">
                  <td>{{ candidate._id }}</td>
                  <td>{{ candidate.fullName }}</td>
                  <td>{{ candidate.primarySkill }}</td>
                  <td>{{ candidate.phone }}</td>
                  <td>{{ candidate.cnic }}</td>
                  <td>{{ candidate.area }}</td>
                  <td>{{ candidate.hasOtherSkill }}</td>
                  <td>
                    <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-success">View</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul *ngIf="pager2.pages && pager2.pages.length" class="pagination" style="cursor: pointer;">
              <li [ngClass]="{disabled:pager2.currentPage === 1}" class="page-item">
                  <a class="page-link" (click)="setPageOtherSkill(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === 1}" class="page-item">
                  <a (click)="setPageOtherSkill(pager2.currentPage - 1)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let page of pager2.pages" [ngClass]="{active:pager2.currentPage === page}" class="page-item">
                  <a (click)="setPageOtherSkill(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}" class="page-item">
                  <a (click)="setPageOtherSkill(pager2.currentPage + 1)" class="page-link">Next</a>
              </li>
              <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}" class="page-item">
                  <a (click)="setPageOtherSkill(pager2.totalPages)" class="page-link">Last</a>
              </li>
            </ul>
          </div>
        </tab>
        <tab heading="Search">
          <div class="col-md-12 mb-4">
            <div class="input-group">
              <div class="input-group mb-4">
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="company">Full Name</label>
                              <input class="form-control" [(ngModel)]="fullName" name="fullName" type="text" style="border-color: #707070">
                          </div>
                      </div>
                  </div>
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="company">Primary Skill</label>
                              <input class="form-control" [(ngModel)]="primarySkill" name="primarySkill" type="text" style="border-color: #707070">
                          </div>
                      </div>
                  </div>
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="company">Phone No </label>
                              <input class="form-control" [(ngModel)]="phoneNo" name="phoneNo" type="text" style="border-color: #707070" >
                          </div>
                      </div>
                  </div>
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="company">CNIC</label>
                              <input class="form-control" [(ngModel)]="cnic" name="cnic" type="text" style="border-color: #707070">
                          </div>
                      </div>
                  </div>
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="company">Other Skill</label>
                              <select class="form-control" name="otherSkill" [(ngModel)]="otherSkill" style="border-color: #707070; text-transform: capitalize;">
                                <option *ngFor="let x of otherSkillArr" [ngValue]="x" style="text-transform: capitalize;">{{x}}</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="input-group col-md-4">
                      <div class="col-md-12">
                          <div class="form-group" style="margin-top: 2em; text-align: center;">
                              <button class="btn btn-success" (click)="filterCandidates()">Filter Candidates</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                  <tr style="background: #BFFFCE;">
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Primary Skill</th>
                    <th>Phone No</th>
                    <th>CNIC No</th>
                    <th>Other Skill</th>
                    <th>Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let candidate of pagedItems3 | filter:search">
                    <td>{{ candidate._id }}</td>
                    <td>{{ candidate.fullName }}</td>
                    <td>{{ candidate.primarySkill }}</td>
                    <td>{{ candidate.phone }}</td>
                    <td>{{ candidate.cnic }}</td>
                    <td>{{ candidate.hasOtherSkill }}</td>
                    <td>
                      <span (click)="onViewCandidate(candidate)" style="cursor: pointer;" class="badge badge-success">View</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul *ngIf="pager3.pages && pager3.pages.length" class="pagination" style="cursor: pointer;">
                <li [ngClass]="{disabled:pager3.currentPage === 1}" class="page-item">
                    <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager3.currentPage === 1}" class="page-item">
                    <a (click)="setPage(pager3.currentPage - 1)" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of pager3.pages" [ngClass]="{active:pager3.currentPage === page}" class="page-item">
                    <a (click)="setPage(page)" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager3.currentPage === pager3.totalPages}" class="page-item">
                    <a (click)="setPage(pager3.currentPage + 1)" class="page-link">Next</a>
                </li>
                <li [ngClass]="{disabled:pager3.currentPage === pager3.totalPages}" class="page-item">
                    <a (click)="setPage(pager3.totalPages)" class="page-link">Last</a>
                </li>
              </ul>
          </div>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div>
</div>