<app-header
  [navbarBrandRouterLink]="['/pudashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/kamayi-text.png', width: 175, height: 48, alt: 'KAMAYI'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/footer_logo.png', width: 40, height: 40, alt: 'KAMAYI'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#/pudashboard">Home</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/user_1.png" style="border-radius: 48%;  border: 1px solid ;" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{ name }} ({{ role }})</strong></div>
        <a class="dropdown-item" (click)="onViewUser(user)" style="cursor: pointer;"><i class="fa fa-user"></i> {{ name }}</a>
        <a class="dropdown-item" (click)="onLogout()" style="cursor: pointer;"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
  <div class='row' style="width: 95%">
    <div class='col-md-4'>
    </div>
    <div class='col-md-5'>  
      <flash-messages></flash-messages>
    </div>
    <div class='col-md-3'>
    </div> 
  </div>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" style="background-color: #5B9AA6;">
    <div style="margin-top: 2em;">
      <img src="assets/img/user_1.png" style="width: 85%; margin: 0 auto; display: block; border-radius: 50%;  border: 1px solid #707070;">
    </div>
  
    <div style="text-align: center; margin-top: 1em">
      <p>{{ name }}</p>
    </div>
  
    <div style="text-align: center; margin-top: -1em">
        <p>{{ role }}</p>
    </div>
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span class="ml-auto">&copy; Copyrights 2019 Kamayi. All Rights Reserved</span>
</app-footer>
