<div class="animated fadeIn">

  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-12">
      <label>
          <h5>Bulk Candidates - Upload</h5>
          <hr>
      </label>
    </div>
  </div>

  <div class="row" style="margin-top: 1em;">
    <div class="col-md-12 mb-12">
      <div class="input-group">
        <div class="upload-field">
          <input type="file" #file id="uploadFileInput" (change)="fileChangeEvent($event)" accept=".xlsx"/>
          <button class="upload-button" (click)="file.click()">Upload</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="input-group">
        <button class="upload-file-button" (click)="onUpload()">Save</button>
      </div>
    </div>

    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div class="card-body">
        <table class="table table-bordered table-striped table-responsive-sm">
          <thead>
            <tr style="background: #BFFFCE;">
              <th>ID</th>
              <th>Full Name</th>
              <th>Education</th>
              <th>Primary Skill</th>
              <th>City</th>
              <th>Phone No</th>
              <th>CNIC No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidatesInfo">
              <td>{{ candidate._id }}</td>
              <td>{{ candidate.fullName }}</td>
              <td>{{ candidate.education }}</td>
              <td>{{ candidate.primarySkill }}</td>
              <td>{{ candidate.city }}</td>
              <td>{{ candidate.phone }}</td>
              <td>{{ candidate.cnic }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--/.col-->
  </div>
</div>